@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  font-size: 62.5%;
  --ff-primary: "Poppins", sans-serif;
  --text-color: #303030;
  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}
body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  color: var(--text-color);
  background-color: rgb(250, 254, 255);
}

#app {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 0 0.8rem;
}
.search button {
  background-color: var(--primary-color);
  border-radius: 0 0.4rem 0.4rem 0;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  transition: all 0.3s linear;
}
.search button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
table * {
  font-size: 1.4rem;
  color: var(--text-color);
}
table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}
table tr:nth-child(odd) {
  background-color: #ddd;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table td {
  padding: 1.5rem;
  text-align: left;
}
table td.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
table td.user a {
  text-decoration: none;
}
table td.user a p {
  font-weight: bold;
}
table th:first-child {
  border-top-left-radius: 0.4rem;
}
table th:last-child {
  border-top-right-radius: 0.4rem;
}
table .user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
td .remove {
  background: none;
  border: none;
  color: crimson;
}
td .remove {
  cursor: pointer;
}
